body {
  margin: 0;
  font-family: Arial, sans-serif;
}
header {
  background-color: navy;
  color: white;
}

.nav-link.active {
  border-bottom: 2px solid #000080;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf")
    format("truetype");
}

/* Garanta que o container do Swiper seja posicionado relativamente */
.swiper-container {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
/* Estilização dos botões de navegação */
.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.swiper-button-prev {
  left: 10px;
}
.swiper-button-next {
  right: 10px;
}

#home {
  position: relative;
  overflow: hidden;
  height: 30vh;
}

#home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Tablet: 50vh */
@media (min-width: 768px) {
  #home {
    height: 55vh;
  }
}

/* Notebook e telas maiores: 70vh */
@media (min-width: 1024px) {
  #home {
    height: 80vh;
  }
}
